# C Sharp ============
C#/bin
*/obj
*/.vs
# ====================

# Node/TypeScript=====
*/build

*/node_modules

# ====================

# Rust ===============
*/target
# ====================

# Dart ===============
*/.dart_tool/
*/.packages
*/build/
# ====================