# C Sharp ============
C#/obj
C#/bin
C#/Katas/bin
C#/Katas/obj
C#/KataTests/bin
C#/KataTests/obj
*/.vs
# ====================

# Node/TypeScript=====
*/build
*/node_modules
# ====================

# Rust ===============
*/target
# ====================

# Dart ===============
*/.dart_tool/
*/.packages
*/build/
# ====================

# Python =============
Python/KataScripts/__pycache__
.installed.cfg
Python/bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
Python/lib
lib64
# ====================